/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.custom-list-group-item {

    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    border: 1px solid #ddd;
    cursor: pointer;
    height: 60px;
}

.custom-list-group-item a{
    text-decoration: none;
}
.custom-list-group-item a:hover {
    text-decoration: none;
}

.sidebar-item-info {
  color: #aaa;
  margin-top:10px;
}

.testscore {
  float:right;
}

.scoredesc {
  font-size: 10px;
}

.greyed a{
  color: #ddd;
}

.greyed a:hover {
  color: #ddd;
}
.SUCCESS {
  color: #3bc93b;
  font-weight: bold;
  font-size: 16px;
}

.dropdown-toggle {
  margin-top: 20px;
  width: 150px;
}

.dropdown-menu {
  margin-top: -20px;
}

.UNSTABLE {
  color: #de0000;
  font-weight: bold;
  font-size: 16px;
}
.FAILURE{
  color: #de0000;
  font-weight: bold;
  font-size: 16px;
}
.NONE{
  color: #aaa;
  font-weight: bold;
  font-size: 16px;
}
.nav-header h3{
  display: inline;
}

.nav-header a{
  margin-left: 20px;
  text-decoration: none;
}

[type=checkbox] { display: none; }


.nv-multibar rect{
    fill-opacity: 0.5;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.8;
}
.grid path {
      stroke-width: 0;
}

.tick text {
    stroke: #333333;
    stroke-width: 0;
}

.slider {
    margin-left: 50px;
    width: 200px !important;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.bar:hover {
  fill: green;
}

.legend rect {
  fill:white;
  stroke:black;
  opacity:0.8;
}

/* tool tip */
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  text-align: center;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}


