/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}



@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar  li h3 {
  padding-left:5px;
  color: #428bca;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.custom-list-group-item {

    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    border: 1px solid #ddd;
}

.testscore {
    float: right;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.section {
    height: 190px;
}

.separator {
    margin: 0 2.5%;
}

.breakdowns {
    margin-left: 2.5%;
    width: 95%;
}

.sub-section-category {
    height: 200px;
    width: 38%;
    position: absolute;
}

.sub-section-platform {
    height: 200px;
    width: 28.5%;
    margin-left: 38%;
    position: absolute;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.sub-section-priority {
    height: 200px;
    width: 28.5%;
    margin-left: 66.5%;
    position: absolute;
}

.chart {
    height: 140px;
    position: absolute;
}

.timeline {
    height: 200px;
    width: 95%;
    margin-left: 2.5%;
}


.greyed {
  color: #ddd;
}
.greyed:hover {
  color: #ddd;
}

.SUCCESS {
  color: #3bc93b;
  font-weight: bold;
  font-size: 16px;
}

.UNSTABLE {
  color: #de0000;
  font-weight: bold;
  font-size: 16px;
}

.buildNav{
 width: 100%;
 margin-left: 75px;
}
