<div class="row">
  <div class="col-sm-12">
    <h2>Analysis <button ng-if="totalClaims" class="btn btn-default" ng-click="changeShowAnalysis()">{{ showAnalysis ? "-": "+"}}</button></h2>
    <p ng-if="!totalClaims">No analysis found</p>
    <div ng-if="showAnalysis && totalClaims">
      <p class="claim-count">Analyzed jobs: {{totalClaims}} / {{needToAnalyseCount}} ({{analysedPercent}}%)</p>
      <p class="claim-count" ng-repeat="prefix in jiraCounts">{{prefix.name}}: {{prefix.unique}}, {{prefix.count}}/{{totalClaims}} ({{prefix.percent}}%)</p>
      <div class="claim-summary">
        <table class="table table-striped">
          <thead>
              <tr>
                <th>Failure</th>
                <th>Jobs</th>
                <th>Failed Tests</th>
                <th>Skipped Tests</th>
                <th>Total Tests</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="claim in claimSummary | orderBy:'skippedTestCount + failedTestCount':true">
              <td><span ng-bind-html="formatClaim(claim.claim)"></span> <a ng-click="searchClaim(claim.claim)" href=""><i class="glyphicon" ng-class="{'glyphicon-unchecked': claim.claim !== search, 'glyphicon-check': claim.claim===search}"></i></a></td>
              <td>{{claim.jobCount}}</td>
              <td>{{claim.failedTestCount}}</td>
              <td>{{claim.skippedTestCount}}</td>
              <td>{{claim.skippedTestCount + claim.failedTestCount}}</td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
    <h2>Jobs</h2>
    <div class="form-group">
      <input type="text" class="form-control" id="search" placeholder="Search name, bugs and triage..." ng-model-options='{ debounce: 500 }' ng-model="search" ng-change="onSearchChange()">
    </div>
    <pagination></pagination>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" id="jobTabs">
        <li ng-click="changePanelJobs($index)"
            ng-repeat="tab in panelTabs" 
            class="job-panel-tab"
            ng-class="{active: tab.active}">
              <a role="tab" data-toggle="tab"><h4>{{tab.jobs.length}} {{tab.title}}</h4></a>
        </li>

    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="executed">
        <div class="table-responsive">
            <table class="jobs-table table table-striped">
              <thead>
                <tr>
                  <th><a href="" ng-click="predicate = 'displayName'; reverse=!reverse">Name  <i class="fa fa-sort"></i></a></th>
                  <th ng-show="panelTabs[activePanel].title!=='Jobs Pending'" ng-repeat="variant in variantNames"><a href="" ng-click="$parent.predicate = 'variants.'+variant; $parent.reverse=!$parent.reverse">{{ variantName(variant) }}</a></th>
                  <th><a href="" ng-click="">Rerun</a></th>
                  <th><a href="" ng-click="predicate = 'result'; reverse=!reverse">Result</a></th>
                  <th><a href="" ng-click="predicate = 'totalCount - failCount - skipCount'; reverse=!reverse">Passed</a></th>
                  <th><a href="" ng-click="predicate = 'skipCount || 0'; reverse=!reverse">Skipped</a></th>
                  <th><a href="" ng-click="predicate = 'pending || totalCount'; reverse=!reverse">Total</a></th>
                  <th><a href="" ng-click="predicate = 'duration'; reverse=!reverse">Duration</a></th>
                  <th><a href="" ng-click="predicate = 'runCount'; reverse=!reverse">Runs</a></th>
                  <th ng-show="targetBy==='server'"><a href="" ng-click="predicate = 'servers.length'; reverse=!reverse">Servers</a></th>
                  <th><a href="" ng-click="predicate = 'bugs'; reverse=!reverse">Bugs</a></th>
                  <th><a href="" ng-click="predicate = 'bugs'; reverse=!reverse">Manual Triage</a></th>
                  <th class="claim-col"><a href="" ng-click="predicate = 'claim'; reverse=!reverse">Auto Triage</a></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="job in panelTabs[activePanel].jobs | orderBy:predicate:reverse | limitTo:jobsPerPage:(jobsPage*jobsPerPage)">
                  <td id="job-name"><a style="cursor:pointer;" ng-click="onselect(job.name,job.os,job.component,job.variants)" data-toggle="modal" data-target="#exampleModalCenter">{{job.displayName}}</a></td>
                  <td ng-show="job.result!=='PENDING'" ng-repeat="variant in variantNames">{{ job.variants[variant] }}</td>
                  <td><rerun-button ng-if="job.pending===undefined&&job.result!='SUCCESS'&&job.url.includes('test_suite_executor')" job="job"></rerun-button></td>
                  <td><span class={{job.result}}>{{job.result}}</span></td>
                  <td>{{job.totalCount - job.failCount - job.skipCount}}</td>
                  <td>{{job.skipCount}}</td>
                  <td>{{job.pending || job.totalCount}}</td>
                  <td>{{msToTime(job.duration)}}</td>
                  <td>{{job.runCount}}</td>
                  <td ng-show="targetBy==='server'">{{job.servers.length}}</td>
                  <td><claim-cell job="job"></claim-cell></td>
                  <td><triage-cell job="job"></claim-cell></td>
                  <td><claim-test jobName="job.name" claim="job.claim"></claim></td>
                </tr>
              </tbody>
            </table>
        </div>
        <pagination></pagination>
      </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title text-center" id="exampleModalCenterTitle">All Test Runs</h2>
        <h3 class="modal-title text-center" id="exampleModalCenter"> Job Name : <b>{{selectedjobname}} </b> Build : <b> {{selectedbuild}} </b> </h3>
      </div>
      <div class="modal-body">
        <!-- <div class="container text-center"> -->
          <div class="table-responsive">
          <table class="table-striped table-bordered table-condensed table-hover text-center" style="width:80%; margin:0 10%;">
              <thead class="thead-dark">
                <tr>
                  <th scope="col" class="text-center">Best Run</th>
                  <th scope="col" class="text-center">#</th>
                  <th scope="col" class="text-center">Job Url</th>
                  <th scope="col" class="text-center">Result</th>
                  <th scope="col" class="text-center">Passed Count</th>
                  <th scope="col" class="text-center">Skipped</th>
                  <th scope="col" class="text-center">Total Count</th>
                  <th scope="col" class="text-center">Duration</th>
      
                </tr>
              </thead>
              <tbody ng-repeat="selectedjob in selectedjobdetails">
                <tr>
                  <td><input type="radio" name="select" id="{{selectedjob.build_id}}" value="{{selectedjob.build_id}}" ng-checked="{{!selectedjob.olderBuild}}" ng-model="model.bestRun" ng-change="model.changeBestRun()" /></td>
                  <th scope="row text-center">Run {{len - $index}}</th>
                  <td>
                      <a href="{{selectedjob.url}}{{selectedjob.build_id}}" target="_blank" >
                          Link
                      </a></td>
                  <td><span class={{selectedjob.result}}>{{selectedjob.result}}</span></td>
                  <td>{{selectedjob.totalCount - selectedjob.failCount - selectedjob.skipCount}}</td>
                  <td>{{selectedjob.skipCount}}</td>
                  <td>{{selectedjob.totalCount}}</td>
                  <td>{{msToTime(selectedjob.duration)}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- </div> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-secondary">Close</button> -->
      </div>
    </div>
  </div>
</div>