<div class="row">
  <div class="col-sm-12">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" id="jobTabs">
        <li ng-click="changePanelJobs($index)"
            ng-repeat="tab in panelTabs" 
            class="job-panel-tab"
            ng-class="{active: tab.active}">
              <a role="tab" data-toggle="tab"><h4>{{tab.jobs.length}} {{tab.title}}</h4></a>
        </li>

    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="executed">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th><a href="" ng-click="predicate = 'name'; reverse=!reverse">Name  <i class="fa fa-sort"></i></a></th>
                <th><a href="" ng-click="predicate = 'result'; reverse=!reverse">Result</a></th>
                <th><a href="" ng-click="predicate = 'passed'; reverse=!reverse">Passed</a></th>
                <th><a href="" ng-click="predicate = 'total'; reverse=!reverse">Total</a></th>
                <th><a href="" ng-click="predicate = 'duration'; reverse=!reverse">Duration</a></th>
                <th class="claim-col"><a href="" ng-click="predicate = 'claim'; reverse=!reverse">Claim </a></th>
                <th><a href="" ng-click="predicate = 'priority'; reverse=!reverse">Priority</a></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="job in panelTabs[activePanel].jobs | orderBy:predicate:reverse">
                <td><a href={{job.url}}{{job.build_id}}>{{job.name}}</a></td>
                <td><span class={{job.result}}>{{job.result}}</span></td>
                <td>{{job.totalCount - job.failCount}}</td>
                <td>{{job.totalCount || job.pending}}</td>
                <td>{{msToTime(job.duration)}}</td>
                <td><claim-cell job="job"></claim-cell>
                </td>
                <td>{{job.priority}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

  </div>
</div>
