  <!-- builds module -->
  <div class="nav nav-sidebar">
    <div class="nav-header">
        <h3>Build</h3>
        <span class="percToggle">
          <i class="fa"
             ng-class="{'fa-toggle-on': !showPerc, 'fa-toggle-off': showPerc}" 
             ng-click="showPerc=!showPerc"></i>
        </span>
    </div>
        <sidebar-item key="{{buildVersion}}" type="build" show-perc="showPerc" />
  </div>

  <div ng-if="sidebarItems.serverVersions && sidebarItems.serverVersions[0] != null" class="nav nav-sidebar">
    <div class="nav-header">
      <h3>CB Server Versions</h3>
      <a ng-click="toggleAll('serverVersions')" href="">
        <i class="fa" ng-class="{'fa-check-square-o': !disabled.serverVersions, 'fa-square-o': disabled.serverVersions}"></i> all
      </a>
    </div>
    <div ng-repeat="key in sidebarItems.serverVersions">
      <sidebar-item key="{{key}}" type="serverVersions" show-perc="showPerc"/>
    </div>
  </div>

  <!-- platforms -->
  <div class="nav nav-sidebar">
    <div class="nav-header">
      <h3>Platforms</h3>
      <a ng-click="toggleAll('platforms')" href="">
          <i class="fa" ng-class="{'fa-check-square-o': !disabled.platforms, 'fa-square-o': disabled.platforms}"></i> all
      </a>
    </div>
    <div ng-repeat="key in sidebarItems.platforms | orderBy:key">
      <sidebar-item key="{{key}}" type="platforms"  show-perc="showPerc" />
    </div>
  </div>

  <!-- variants -->
  <div ng-repeat="variant in sidebarItemsVariants">
    <div ng-if="targetBy === 'server'" class="nav nav-sidebar">
      <div class="nav-header">
          <h3>{{ variantName(variant) }}</h3>
          <a ng-click="toggleAll(variant)" href="">
            <i class="fa" ng-class="{'fa-check-square-o': !disabled[variant], 'fa-square-o': disabled[variant]}"></i> all
          </a>
      </div>
      <div ng-repeat="key in sidebarItems[variant] | orderBy:key">
        <sidebar-item key="{{key}}" type="{{variant}}"  show-perc="showPerc" />
      </div>
    </div>
  </div>

  <!-- features -->
  <div class="nav nav-sidebar">
    <div class="nav-header">
      <div ng-if="targetBy !== 'operator'">
        <h3>Features</h3>
      </div>
      <dif ng-if="targetBy === 'operator'">
        <h3>Kubernetes version</h3>
      </dif>
      <a ng-click="toggleAll('features')" href="">
          <i class="fa" ng-class="{'fa-check-square-o': !disabled.features, 'fa-square-o': disabled.features}"></i> all
      </a>
    </div>
    <div ng-repeat="key in sidebarItems.features | orderBy:key">
      <sidebar-item key="{{key}}" type="features"  show-perc="showPerc" />
    </div>
  </div>
