<div class="col-sm-3 col-md-2 sidebar">

  <!-- builds module -->
  <div class="nav nav-sidebar">
    <div class="nav-header">
        <h3>Build</h3>
        <span class="percToggle">
          <i class="fa"
             ng-class="{'fa-toggle-on': !showPerc, 'fa-toggle-off': showPerc}" 
             ng-click="showPerc=!showPerc"></i>
        </span>
    </div>
        <sidebar-item title="build.Version" item="build" show-perc="showPerc" />
  </div>

  <!-- platforms -->
  <div class="nav nav-sidebar">
    <div class="nav-header">
      <h3>Platforms</h3>
    </div>
    <div ng-repeat="item in build.Platforms">
      <sidebar-item title="item.key" item="item"  show-perc="showPerc" />
    </div>
  </div>

  <!-- features -->
  <div class="nav nav-sidebar">
    <div class="nav-header">
      <h3>Features</h3>
    </div>
    <div ng-repeat="item in build.Features">
      <sidebar-item title="item.key" item="item"  show-perc="showPerc" />
    </div>
  </div>

</div>
