
<!DOCTYPE html>
<html lang="en" ng-app="greenBoard">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard QE Functional TEsting</title>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

    <!-- d3 -->
	<link rel="stylesheet" href="d3/css/nv.d3.css" />


  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
        </div>
        </div>
      </div>
    </div>

    <div class="container-fluid" ng-controller="Timeline">


      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><h3>Build</h3></li>
              <p class="custom-list-group-item {{build.Status}}">
                <i class="fa fa-check fa-fw "></i>{{build.Version}}
                    <span class="testscore">{{build.Passed}}/{{build.Passed + build.Failed}}</span>
              </p>
          </ul>
          <ul class="nav nav-sidebar">
            <li><h3>OS</h3></li>

              <div  ng-repeat="os in byPlatform">
                  <a ng-click="filterItem(os, 'p')" class="custom-list-group-item {{os.Status}}" href="">
                          <i class="fa {{os.checked}} fa-fw "></i>
                          {{os.Platform}}
                          <span class="testscore">{{os.Passed}}/{{os.Failed + os.Passed}}</span>
                  </a>
               </div>
          </ul>
          <ul class="nav nav-sidebar">
            <li><h3>Feature</h3></li>
              <div  ng-repeat="category in byCategory">
                  <a ng-click="filterItem(category, 'c')" class="custom-list-group-item {{category.Status}}" href="">
                          <i class="fa {{category.checked}} fa-fw "></i>
                          {{category.Category}}
                          <span class="testscore">{{category.Passed}}/{{category.Failed + category.Passed}}</span>
                  </a>
               </div>
          </ul>

        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">QE Functional Tests</h1>

        <div class="row placeholders">
            <div >
                <div id="timeline" class="section">
                    <div>
                        <div class="timeline">
                            <nvd3-multi-bar-chart
                                id="relTimeline"
                                data="timelineRelData"
                                margin="{left: 40, top: 0, bottom: 35, right: 20}"
                                stacked="true"
                                showLegend="true"
                                showXAxis="true"
                                showYAxis="true"
                                reduceXTicks="true"
                                tooltips="true"
                                tooltipcontent="relToolTipContentFunction()"
                                color="['#3bc93b', '#de0000']"
                                yAxisTickFormat="yAxisTickFormatFunction()"
                                delay="750">
                                    <svg></svg>
                            </nvd3-multi-bar-chart>
                        </div>
                    </div>
                </div>

                <hr class="separator">

                <div id="timeline" class="section">
                    <div>
                        <div class="timeline">
                            <nvd3-multi-bar-chart
                                id="absTimeline"
                                data="timelineAbsData"
                                margin="{left: 40, top: 0, bottom: 35, right: 20}"
                                stacked="true"
                                showLegend="true"
                                showXAxis="true"
                                showYAxis="true"
                                reduceXTicks="true"
                                tooltips="true"
                                tooltipcontent="absToolTipContentFunction()"
                                color="['#3bc93b', '#de0000']"
                                yAxisTickFormat="yAxisTickFormatFunction()"
                                delay="750">
                                    <svg></svg>
                            </nvd3-multi-bar-chart>
                        </div>
                    </div>
                </div>
            </div>


          </div>


          <h2 class="sub-header">Section title</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th><a href="" ng-click="predicate = 'name'; reverse=!reverse">Name <i class="fa fa-sort fa-lg"></i></a></th>
                  <th><a href="" ng-click="predicate = 'result'; reverse=!reverse">Result <i class="fa fa-sort fa-lg"></i></a></th>
                  <th><a href="" ng-click="predicate = 'passed'; reverse=!reverse">Passed <i class="fa fa-sort fa-lg"></i></a></th>
                  <th><a href="" ng-click="predicate = 'total'; reverse=!reverse">Total <i class="fa fa-sort fa-lg"></i></a></th>
                  <th><a href="" ng-click="predicate = 'priority'; reverse=!reverse">Priority <i class="fa fa-sort fa-lg"></i></a></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="job in jobs | orderBy:predicate:reverse">
                  <td><a href={{job.url}}{{job.bid}}>{{job.name}}</a></td>
                  <td><span class={{job.result}}>{{job.result}}</span></td>
                  <td>{{job.passed}}</td>
                  <td>{{job.total}}</td>
                  <td>{{job.priority}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="d3/js/d3.v2.min.js"></script>
	<script type="text/javascript" src="d3/js/nv.d3.js"></script>
	<script type="text/javascript" src="d3/js/angularjs-nvd3-directives.js"></script>
  </body>
</html>

