  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Greenboard</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
        </ul>

      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="col-sm-3 col-md-2 sidebar"  ng-controller="SidebarCtrl">
      <div class="nav nav-sidebar">
        <div class="nav-header">
          <h3>Build</h3>
          <span class="custom-list-group-item {{build.Status}}">
            <p>{{build.Version}}
               <span ng-click="didClickSlider()">
                 <span ng-if="showAsPerc" class="testscore">{{100*getPerc(build)| number:0}}% <i class="fa fa-toggle-off"></i></span>
                 <span ng-if="!showAsPerc" class="testscore">{{build.Passed}}/{{build.Failed + build.Passed}} <i class="fa fa-toggle-on"></i></span>
               </span>
            </span></p>
          </span>
        </div>
      </div>

      <div class="nav nav-sidebar">
        <form>
          <div class="nav-header">
            <h3>Platforms</h3>
            <input type="checkbox" ng-model="showAllPlatforms" ng-init="showAllPlatforms=true">
            <a ng-click="toggleAll('p')" href="">
                <i ng-if="showAllPlatforms" class="fa fa-check-square-o"></i>
                <i ng-if="!showAllPlatforms"  class="fa fa-square-o"></i> all
            </a>
            <br/>
          </div>
          <div  ng-repeat="os in objAsList(Platforms) | orderBy:orderByPerc">
            <input type="checkbox" ng-model="os.checked">
            <span  ng-click="toggleItem(os, 'p')" class="custom-list-group-item {{os.Status}}" >
              <a href="">
                <i ng-if="os.checked" class="glyphicon glyphicon-check"></i>
                <i ng-if="!os.checked" class="glyphicon glyphicon-unchecked"></i>
                 {{os.Platform}}
                <span ng-if="os.checked">
                  </i> <span ng-if="showAsPerc" class="testscore">{{100*getPerc(os)| number:0}}%</span>
                  <span ng-if="!showAsPerc" class="testscore">{{os.Passed}}/{{os.Failed + os.Passed}}</span>
                </span>
              </a>
            </span>
          </div>
        </form>
     </div>
      <div class="nav nav-sidebar">
        <form>
          <div class="nav-header">
            <h3>Features</h3>
            <input type="checkbox" ng-model="showAllCategories" ng-init="showAllCategories=true">
            <a ng-click="toggleAll('c')" href="">
                <i ng-if="showAllCategories" class="fa fa-check-square-o"></i>
                <i ng-if="!showAllCategories"  class="fa fa-square-o"></i> all
            </a>
            <br/>
          </div>
          <div  ng-repeat="category in objAsList(Categories) | orderBy:orderByPerc">
            <input type="checkbox" ng-model="category.checked">
            <span ng-click="toggleItem(category, 'c')" class="custom-list-group-item {{category.Status}}">
            <a href="">
              <i ng-if="category.checked" class="glyphicon glyphicon-check"></i>
              <i ng-if="!category.checked" class="glyphicon glyphicon-unchecked"></i>
               {{category.Category}}
              <span ng-if="category.checked">
                <span ng-if="showAsPerc" class="testscore">{{100*getPerc(category)| number:0}}%</span>
                <span ng-if="!showAsPerc" class="testscore">{{category.Passed}}/{{category.Failed + category.Passed}}</span>
              </span>
             </a>
            </span>
          </div>
        </form>
       </div>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      <div  ng-controller="InitDataCtrl">
        <div class="row">
          <div class="col-sm-12">
           <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              {{targetBy.title}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu" role="menu">
              <li ng-click="didSelectTarget(target)" ng-repeat="target in viewTargets">
                <a href="">{{target.title}}</a>
              </li>
            </ul>
            <ul class="pagination">
              <li id={{v}} ng-repeat="v in pagerVersions" ng-class="{'active': v == selectedVersion}" class="pagecell">
                 <a ng-click="didSelectVersion(v)" href="">{{ v }}</a>
               </li>
            </ul>
           </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
           <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              {{filterBy.title}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu" role="menu">
              <li ng-click="didSelectMenu(menu)" ng-repeat="menu in filterMenues">
                <a href="">{{menu.title}}</a>
              </li>
            </ul>
            <ul class="pagination subpager">
              <li ng-class="{'active': f == filterBy.value}" ng-repeat="f in filterBy.options">
                <a ng-click="didSelectFilter(f)" href="">{{f}}</a>
              </li>
            </ul>
          </div>
         </div>
        </div>
      </div>

      <div class="row"  ng-controller="TimelineCtrl">

        <div class="col-sm-12" id="timeline" class="section">
            <bar-chart data="timelineAbsData"></bar-chart>
            <input type="range"></input>
        </div>

        <div class="col-sm-12" id="timeline" class="section">
            <!--<pie-chart></pie-chart>
            <pie-chart></pie-chart>
            <pie-chart></pie-chart>-->
        </div>
      </div>

      <div class="row" ng-controller="JobsCtrl">
        <div class="col-sm-12">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist" id="jobTabs">
              <li class="active"><a href="#executed" role="tab" data-toggle="tab"><h4>{{jobsCompleted}} Jobs Completed</h4></a></li>
              <li><a href="#missing" role="tab" data-toggle="tab"><h4>{{jobsPending}} Jobs Pending</h4></a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="executed">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th><a href="" ng-click="predicate = 'name'; reverse=!reverse">Name <i class="fa fa-sort"></i></a></th>
                      <th><a href="" ng-click="predicate = 'result'; reverse=!reverse">Result <i class="fa fa-sort"></i></a></th>
                      <th><a href="" ng-click="predicate = 'passed'; reverse=!reverse">Passed <i class="fa fa-sort"></i></a></th>
                      <th><a href="" ng-click="predicate = 'total'; reverse=!reverse">Total <i class="fa fa-sort"></i></a></th>
                      <th><a href="" ng-click="predicate = 'priority'; reverse=!reverse">Priority <i class="fa fa-sort"></i></a></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="job in jobs | orderBy:predicate:reverse">
                      <td><a href={{job.url}}{{job.bid}}>{{job.name}}</a></td>
                      <td><span class={{job.result}}>{{job.result}}</span></td>
                      <td>{{job.passed}}</td>
                      <td>{{job.total}}</td>
                      <td>{{job.priority}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="tab-pane" id="missing">
              <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                  </thead>
                  <tbody>
                    <tr ng-repeat="job in missingJobs | orderBy:nameSort">
                      <td><a href={{job.url}}{{job.bid}}>{{job.name}}</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div> <-- eo-contentd-iv -->
  </div> <-- eo-container-div -->

  <script>
   $(function () {
      $('#jobTabs a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
      })
    })
  </script>
